.bro-chameleon:hover {
  -webkit-animation: bro-chameleon 3.5s ease-in-out infinite;
  transition: .15s linear;
}
.bro-chameleon {
  transition: 0.3s linear;
}
@-webkit-keyframes bro-chameleon {
  0%, 100% {
    color: #000;
  }
  20% {
    color: green;
  }
  40% {
    color: #dd0017;
  }
  60% {
    color: yellow;
  }
  80%{
    color: blue;
  }
}